:root{
  /* colors */
  --clr-white:rgb(227, 225, 225);
  --clr-blue:rgb(176, 229, 246);
  /* font-familys */
  --ff-playfair-display:"Playfair Display", serif;
  --ff-roboto:"Roboto", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  font-family: var(--ff-roboto);
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;

}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-family: var(--ff-playfair-display);

}
#root, #__next {
  isolation: isolate;
}



header{
  position: relative;
  padding: 2rem;
}

header::before{
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom,var(--clr-blue), var(--clr-white));
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 80%);
  z-index:-1;
}
header img{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.653);
  min-width: 220px;
}

header h1{
  position: absolute;
  left: 40px;
  bottom: 30px;
  color: white;

}

main{
  padding: 0 2rem;
}

section{
  margin-bottom:1rem;
}
.about-me{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

svg{
  width: 20px;
}

.links-container{
  display: flex;
  gap: 1rem;
}

.my-work {
  text-align: center
}
.projects-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr) );
  gap: 2rem;
}

.projects-container a{
  text-decoration: none;
  color: inherit;
}

.project{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.466);
  border-radius: 10px;
}


.project img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.project-links{
  display: flex;
  gap: 10px;
}

.project p{
  padding: 1rem;
}
